*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.env
personal.xlsx
personal.xls
*.xls
*.xlsx
~
processed.txt
error.txt
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.vscode/
.idea/
*.swp
*.swo
.dockerignore
.DS_Store
